# vscode
.vscode

# jupyter notebook
.ipynb_checkpoints

# python
venv/
__pycache__/

# temp files
test.ipynb
*.tmp

# executables
*.exe

# tex files
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml
*.log
*.fls
*.fdb_latexmk
*.out
*.synctex.gz
*.synctex(busy)
*.pyg
